/client-py/
*.bak
*.code-workspace
*.gstmp
*.mk
*.ncb
*.opensdf
*.orig
*.pdb
*.props
*.pyc
*.pyproj
*.rules
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.user
*.vc.opendb
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*.VC.db
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.android
.ccls-cache
.cipd
.classpath
.code-coverage
.coverage
.cproject
.dir-locals.el
.emulator_sdk
.gdb_history
.gdbinit
.landmines
.metadata
.project
.projectile
.pydevproject
.checkstyle
*.class
compile_commands.json
cscope.*
child_pool-0.profraw
child_pool-1.profraw
child_pool-2.profraw
child_pool-3.profraw
default.profraw
GPATH
GRTAGS
GSYMS
GTAGS
Session.vim
tags
TAGS
Thumbs.db
rust-project.json
v8.log
vs-chromium-project.txt
# Store android emulator artifacts, used by //tools/android/avd/avd.py
/.android_emulator/
/.clangd
/.clangd/
/.clangd-index/
# Settings directories for eclipse
/.externalToolBuilders/
/.settings/
/.vs/
# Visual Studio Code
# No trailing slash to also ignore symlinks, which is useful in conjunction with
# gclient-new-workdir.
.vscode
.vscode-server


# Ignore any Android RenderTest goldens
**/render_tests/*.png

# Ignore any WPR archive files
**/wpr_tests/*.wprgo

# Ignore IntelliJ files.
.idea/

# Ignore cache folder created by clangd
.cache

# Ignore the default results output directory for tools/run-swarmed.py
/results
/Debug
/Release
/build
/buildAndroid
/buildAndroid/*
/buildLinux
/out